@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* ======================================== */
nav {
    background-color: orangered;
    padding: .75rem 2rem;
    /* padding: 10px 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li {
    margin-left: 7px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover {
    background-color:white;
    color:black;
}

/* ======================================== */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 40px 80px;
    width: 100%;
}

main p {
    margin-top: 20px;
}

.h2 {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
}


h5 {

    display: flex;
    height: 75px;
    margin-top: 10px;
    width: 75%;
    color: blue;
    align-items: rigth;
    justify-content: right;
    text-align: justify;

}


.box-texto {
    display: flex;
    height: 100px;
    margin-top: 10px;
    width: 75%;
    color: blue;
    align-items: rigth;
    justify-content: right;
}

footer {
    display: flex;
    margin-top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    background-color:orangered;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    width: 100%;
}